body{
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);  
    font-family: 'Hubballi', cursive;
}

#heading
{
  border-radius: 10px;
  width: 100%;
  margin: 0px;
  font-size: xx-large;
  font-weight: bold;
}

.heading_div
{
  background: white ; 
  font-weight: 500;
  border-radius: 20px; 
  color: black;
  box-shadow:1px 1px 5px blue;
  float: none;
  margin-top: 15px;
  font-size: x-large;
}

.copy_right_footer
{
  position: fixed;
  background-color: ghostwhite;
  color: black;
  font-size: large;
  width:100%;
  bottom: 0;
  text-align: center;
  line-height: 3;
  font-weight: bolder;
  text-shadow: 0 0 3px #FF0000;
}

canvas{
    margin-top: 100px;
    border:5px solid white;
    box-shadow: 1px 1px 10px blue;
    border-radius: 10px;
    float: right;
    margin-right: 250px;
}

video{
    float: left;
    margin-top: 150px;
    margin-left: 250px;
    box-shadow: 1px 1px 10px blue;
    border-radius: 10px;
}